@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    src: url(../fonts/gilroyextrabold.woff) format('woff');
    src: url(../fonts/gilroyextrabold.woff2) format('woff2');
}

@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    src: url(../fonts/gilroylight.woff) format('woff');
    src: url(../fonts/gilroylight.woff2) format('woff2');
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensans.woff) format('woff');
    src: url(../fonts/opensans.woff2) format('woff2');
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    src: url(../fonts/opensanslight.woff) format('woff');
    src: url(../fonts/opensanslight.woff2) format('woff2');
}

body {
  font-size: 15px;
  color: #444444;
  font-family: "Open Sans", "Arial", sans-serif;
}

.btn {
  display: inline-block;
  background-color: #ffc600;
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: 800;
  letter-spacing: 3px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

/* =============================
              HEADER
   ============================= */

.main-header {
  width: 1160px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffe27f;
  color: #000000;
}

/* отключаю элемента */
.main-header .index-logo {
  display: none;
}

.container {
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 55px;
  width: 1040px;
  margin: 0;
}

.header-user-block {
  display: flex;

}

.main-header-search {
  display: flex;
  min-width: 55px;
  align-self: flex-start;
}

.main-header-search input[type="submit"] {
  border: 0;
  padding: 0;
  margin-right: 10px;
  width: 20px;
  height: 23px;
  background: #FFE27F url("../img/spritesheet.png") no-repeat;
  background-position: -370px -8px;
  cursor: pointer
}

.main-header-search input[type="search"] {
  border: 0;
  width: 110px;
  background-color: #FFE27F;
}

.main-header-search input[type="search"]::-webkit-input-placeholder,
.main-header-search input[type="search"]::-moz-placeholder {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  color: #000000;
}

.user-block {
  width: 500px;
  align-self: flex-end;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  padding: 0;
}

.user-block li {
  display: inline-block;
}

.user-block li:nth-child(2) {
  margin-left: 70px;
}

.user-block li:nth-child(3) {
  margin-left: 70px;
}

.user-block a {
  color: #000000;
  font-weight: 300;
  text-decoration: none;
}

.user-block .login {
  display: inline-block;
  width: 5px;
  height: 18px;
  padding-left: 25px;
  background: #FFE27F url("../img/spritesheet.png") no-repeat;
  background-position: -538px -7px;
}

.user-block .compare {
  display: inline-block;
  width: 5px;
  height: 18px;
  padding-left: 20px;
  background: #FFE27F url("../img/spritesheet.png") no-repeat;
  background-position: -74px -7px;
}

.user-block .basket {
  display: inline-block;
  width: 5px;
  height: 18px;
  padding-left: 20px;
  background: #FFE27F url("../img/spritesheet.png") no-repeat;
  background-position: -10px -7px;
}

.main-navigation {
  width: 1040px;

}

.main-navigation ul {
  margin-top: 55px;
  margin-bottom: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation li:nth-child(2) {
  margin-left: 290px;
}

.main-navigation li:nth-child(3) {
  margin-left: 40px;
}

.main-navigation li:nth-child(4) {
  margin-left: 115px;
}


.main-navigation ul > li > a {
  font-size: 18px;
  font-family: "Gilroy";
  display: inline-block;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

/* отключаю элемента */
.main-navigation .dropdown-menu-content {
  display: none;
}

/* =============================
              sLIDER
   ============================= */

.slider {
  display: flex;
  width: 1160px;
  min-height: 481px;
  margin: 0 auto;
}

.slider .slider-content {
  display: flex;

  padding-bottom: 115px;
}

.slider .slider-image {
  width: 550px;
}

/* не уверен что это нужно*/
.slider-image img {
  display: block;
  margin: 0 auto;
}

.slider-container {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  margin-left: 40px;
}

/* отключаю элемента */
.slider-numbers {
  display: none;
  font-size: 179px;
  font-family: "Gilroy";
  font-weight: 800;
  color: #ffffff;
}

.slider-tagline {
  font-size: 47px;
  font-family: "Gilroy";
  font-weight: 800;
  color: #000000;
}

.slider-description {
  font-weight: 300;
  line-height: 30px;
  color: #444444;
}

.slider-btn {
  display: flex;
  width: 80px;
  height: 10px; /* не уверен, что верно, скорее костыль*/
  margin-left: auto;
  margin-right: 80px;
}

.btn.first-slider,
.btn.second-slider,
.btn.third-slider {
  width: 10px;
  height: 10px; /* почему то не получается сделать круглой?( )*/
  border: 2px solid #000000;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 23px;
  cursor: pointer;
}

.slider-characteristics {
  display: flex;
  min-width: 460px;
}

.slider-characteristics-item {
  /*width: 160px;*/
  margin-right: 80px;
}

.slider-characteristics-item b {
  font-size: 36px;
  font-family: "Gilroy";
  font-weight: 300;
}

.slider-characteristics-item p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #444444;
}

.slider-characteristics-item:nth-child(2) {
  /*width: 140px; /* или лучше через flex-shrink: ??? */*/
}

/* отключаю элемента */
.slider .slider-content:nth-child(2) {
  display: none;
}

.slider .slider-content:nth-child(3) {
  display: none;
}

/* =============================
              POPULAR
   ============================= */

.popular {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 85px;
}

.popular ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.popular li {
  display: inline-block;
  width: 160px;
  margin-right: 40px;

}

.popular a {
  color: #000000;
  text-decoration: none;
}

.popular-img {
  display: flex;
  width: 160px;
  height: 160px;
  background-color: #ffe27f;
}

.popular-img img {
  margin: auto;
}

.popular-img.image-bottom img {
  margin-bottom: 0;
}

.popular-title {
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: 800;
}



/* =============================
              SERVICES
   ============================= */

.services {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.services-slide-navigation {
  display: flex;

  flex-direction: column;
  justify-content: center;
  border-right: 4px solid #000000; /* наглядный костыль потом уберу*/
  width: 280px;
}

.services-slide-navigation .btn {
  margin: auto;
}

/* мне кажется или эта обертка избыточна? */
.services-slider {
  display: flex;
  width: 880px;
}

.services-slider-content {
  display: flex;
  width: 760px;
  margin-left: auto;
  margin-top: 80px;
}

/* наверное не совсем верное решение*/
.services-slider-description {
  width: 470px;
}

.services-slider-img {
  width: 170px;
}

.content-title {
  font-size: 47px;
  color: #000000;
  font-family: "Gilroy";
  font-weight: 800;
  margin: 0;
  margin-right: auto;
  padding-bottom: 17px;
}

.services-slider-content:nth-child(2) {
  display: none;
}

.services-slider-content:nth-child(3) {
  display: none;
}

.content-text {
  font-weight: 300;
  line-height: 30px;
  margin-top: 43px;
  margin-bottom: 80px;
}

/* =============================
              LOGOTYPES
   ============================= */

.logotypes {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.company-logo {
  width: 260px;
  margin: 94px 0;
  margin-right: 40px;
}

.company-logo:nth-child(1) img:hover {
  background-image: url("../img/logo-1.png");
}

.company-logo:nth-child(2) img:hover {
  background-image: url("../img/logo-2.png");
}

.company-logo:nth-child(3) img:hover {
  background-image: url("../img/logo-3.png");
}

.company-logo:nth-child(4) img:hover {
  background-image: url("../img/logo-4.png");
}



/* =============================
              INFORMATION
   ============================= */

.information {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.info {
  width: 500px;
  padding-bottom: 95px;
}

.information .content-text {
  margin-top: 44px;
  margin-bottom: 0;
}

.info ul {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: 800;
  line-height: 30px; /* костыль или странный размер */
  color: #000000;
  margin-top: 85px;
  margin-bottom: 0;
  padding-left: 25px;
}

.info .btn {
  display: inline-block;
  margin-top: 75px
}

.contact {
  flex-direction: column;
  width: 560px;
  margin-left: auto;
  padding-bottom: 95px;
}

.cintact-map {
  margin-top: 45px;
}

.contact .btn {
  margin-top: 80px;
}

/* =============================
              FOOTER
   ============================= */

.main-footer {
  background-color: #444444;
  color: #ffffff;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 65px;;
}

.logo-user-block {
  display: flex;
}


/* выключаю логотип, нужно разобраться как сделать
svg желтого цвета в css и поменять позицию расположения */
.footer-container .index-logo {
  width: 165px;
}

.footer-user-block {
  min-width: 355px;
  margin-left: 640px;
}

.footer-user-block li {
  display: inline-block;
}

.footer-user-block a {
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.footer-user-block .login {
  display: inline-block;
  width: 5px;
  height: 18px;
  padding-left: 25px;
  background: #444444 url("../img/spritesheet.png") no-repeat;
  background-position: -571px -7px;
}

.footer-user-block .compare {
  display: inline-block;
  width: 5px;
  height: 18px;
  padding-left: 20px;
  background: #444444 url("../img/spritesheet.png") no-repeat;
  background-position: -104px -7px;
}

.footer-user-block .basket {
  display: inline-block;
  width: 5px;
  height: 18px;
  padding-left: 20px;
  background: #444444 url("../img/spritesheet.png") no-repeat;
  background-position: -42px -7px;
}

.footer-contacts-navigation {
  display: flex;
  width: 1160px;
}

.footer-navigation {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.footer-navigation li {
  display: inline-block;
}

.footer-navigation a {
  font-size: 18px;
  font-weight: 800;
  font-family: "Gilroy";
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-copyright {
  display: flex;
  width: inherit;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 0;
}

.social-icons {
  display: flex;
  margin-left: auto;
}

.social-btn {
  display: inline-block;
  font-size: 0px;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  background-color: #ffffff;
  opacity: 0.3;
}

/* Facebook */
.social-btn:nth-child(1) {
  background: #444444 url("../img/spritesheet.png") no-repeat;
  width: 43px;
  height: 43px;
  background-position: -134px -5px;
}

/* Instagram */
.social-btn:nth-child(2) {
  background: #444444 url("../img/spritesheet.png") no-repeat;
  width: 43px;
  height: 43px;
  background-position: -287px -5px;
}

/* Twitter */
.social-btn:nth-child(3) {
  background: #444444 url("../img/spritesheet.png") no-repeat;
  width: 43px;
  height: 43px;
  background-position: -480px -5px;
}


.copyright {
  font-size: 0px;
  padding: 0;
  margin-left: 480px;
}

/* HTML Academy logo */
.copyright a {
  display: inline-block;
  margin: 0;
  width: 43px;
  height: 43px;
  background: #444444 url("../img/spritesheet.png") no-repeat;
  background-position: -193px -5px;
}

/* =============================
          WRITE US POPUP
   ============================= */

.write-us-popup {
  width: 960px;
  border: 1px dotted #000; /* для удосбтво отображения уюеру когда буду делать тень*/
}

/* пока так реализовал, потом сделаю cо спрайтом */
.cross-button {
  display: block;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #ffffff;

  margin-top: 22px;
  margin-left: auto;
  margin-right: 22px;

  width: 54px;
  height: 54px;
  border-radius: 26px;
  background-color: #ffe27f;
  cursor: pointer;
}

/*.cross-style {
  padding: 20px;
}*/

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.name-block,
.email-block {
  width: 360px;
  margin: 0 20px;
}

.name-block input,
.email-block input{
  width: 360px;
  height: 50px;
  margin-top: 13px;
  padding: 18px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  border: 0;
}

.write-us-form legend {
  font-size: 18px;
  font-weight: 800;
}

.text-block {
  width: 760px;
  margin-top: 37px;
  margin-right: 20px;
  margin-left: 20px;

}

.text-block textarea {
  width: 760px;
  height: 156px;
  margin-top: 13px;
  padding: 18px;
  background-color: #f2f2f2;
  color: #b9b9b9;
  border: 0;
  box-sizing: border-box;
}

.write-us-form .btn {
  margin-top: 53px;
  margin-left: 20px;
  margin-bottom: 92px;
}


 /* =========================================
            CATALOG.HTML / catalog-content
    ========================================= */

.catalog-content {

}

.catalog-item-name-block {
  width: 1160px;
  margin: 0 auto;
  padding-top: 44px;
  padding-left: 60px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.breadcrumbs {
  padding-left: 0;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
}

/* =============================
      CATALOG-CONTENT-FILTER
   ============================= */

.catalog-head {
  display: flex;
  width: 100%;
}

.filter-header {
  width: 32.5%;
  background-color: #dbdbdb;
  color: #000000;
  padding: 0;
}

.sort-header {
  width: 67.5%;
  background-color: #f0f0f0;
  color: #000000;
  padding: 0;
}

.filter-container {
  width: 328px;
  margin-left: auto;
}

.sort-container {
  width: 834px;
  margin-right: auto;
}

.filter-title {
  display: inline-block;
  font-size: 16px;
  color: #000000;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
}









.filter-column {

  background-color: #f0f0f0;
  color: #000000;
  margin-left: auto;
}




.catalog-filters {
  width: 200px;
  margin-left: auto;
}



.content-column {
  background-color: #ffffff;
  color: #000000;
  margin-right: auto;
}

.catalog-content-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 50px;
  width: 832px;
}

.result-sort {
  margin-right: auto;
}

.result-sort ul,
.result-sort li {
  display: inline-block;
}

.result-sort .filter-title {
  margin-left: 72px;
}

.item-title {
  font-size: 18px;
  color: #000000;
  font-family: "Gilroy";
  font-weight: bold;
}
